# Ignore everything by default
*

# Do not ignore directories so Git can traverse subdirectories
!*/

# Whitelist specific file formats
!*.tex
!*.pdf
!*.bib
!*.png

# Keep .gitignore itself tracked
!.gitignore
